$dark: rgb(116 94 77);
$light: rgb(193, 166, 141);
$medium: rgb(217, 175, 147);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
@mixin sideflex {
  display: flex;
  flex-direction: row;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
