.nav {
  @include sideflex;
  overflow: hidden;
  height: 60px;
  font-size: large;
  a {
    display: block;
    padding: 22px 16px;
    &:hover {
      @include transition-ease;
      background-color: $dark;
      color: white;
    }
  }

  img {
    height: 70%;
    width: 200px;
    margin: auto;
  }
  ul {
    @include sideflex;
  }
  background-color: $light;
  &-item {
    background-color: white;
    color: $dark;
    // padding: 1.5rem;
  }
  &-item.login,
  &-item.register {
    border-radius: 70px;
    // padding-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    a {
      border-radius: inherit;
      padding: 10px 16px;
    }
  }
  &-item.login {
    margin-right: 0px;
    margin-left: 1.5rem;
  }
  &-item.logout > a {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &-item.active {
    background-color: $dark;
    color: white;
  }
}
