.nav {
  @include sideflex;
  overflow: hidden;
  height: 60px;
  font-size: large;
  a {
    display: block;
    padding: 22px 16px;
    &:hover {
      @include transition-ease;
      background-color: $dark;
      color: white;
    }
  }
  &:hover div {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  img {
    height: 50%;
    margin: auto;
  }
  div {
    position: absolute;
    font-size: 12px;
    transition: 0.3s;
    transform: translateY(1em);
  }
  .eat {
    visibility: hidden;
    opacity: 0;
    left: 96px;
    top: 25px;
  }
  .sleep {
    opacity: 0;
    visibility: hidden;
    left: 238px;
    top: 24px;
  }
  .code {
    opacity: 0;
    visibility: hidden;
    left: 393px;
    top: 24.5px;
  }
  .repeat {
    opacity: 0;
    visibility: hidden;
    left: 543px;
    top: 24px;
  }
  ul {
    @include sideflex;
  }
  background-color: $light;
  &-item {
    background-color: white;
    color: $dark;
    // padding: 1.5rem;
  }
  &-item.login,
  &-item.register {
    border-radius: 70px;
    // padding-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    // padding-left: 1.5rem;
    // padding-right: 1.5rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    a {
      border-radius: inherit;
      padding: 10px 16px;
    }
  }
  &-item.login {
    margin-right: 0px;
    margin-left: 1.5rem;
  }
  &-item.logout > a {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  &-item.active {
    background-color: $dark;
    color: white;
  }
}
