<% layout("layouts/boilerplate") %> <%- include("../partials/centerhead.ejs") %>
<div class="your-container">
  <% for(let collection of user.collections){ %>

  <a class="your-collection" href="/collection/<%=collection._id %> "
    ><%= collection.title %></a
  >

  <%} %>
</div>
<div class="your">
  <a class="your-button" href="/newcollection">ADD NEW COLLECTION</a>
</div>
