<% layout("layouts/boilerplate") %>
<h1><%= title %></h1>
<% for(let collection of user.collections){ %>
<div>
  <h2>
    <a href="/collection/<%=collection._id %> "><%= collection.title %></a>
  </h2>
</div>
<%} %>
<button><a href="/newcollection">ADD NEW COLLECTION</a></button>
