<% if(success && success.length) { %>
<div class="flashdiv">
  <div class="flashdiv-content success">
    <div><%= success %></div>
    <div><button type="button" class="flashbutton">&times;</button></div>
  </div>
</div>
<% } %> <% if(error && error.length) { %>
<div class="flashdiv">
  <div class="flashdiv-content error">
    <div><%= error %></div>
    <div><button type="button" class="flashbutton">&times;</button></div>
  </div>
</div>
<% } %>
