<% if(success && success.length) { %>
<div class="flashdiv">
  <div class="flashdiv-content">
    <span><%= success %></span><br />
    <button type="button" class="flashbutton">&times;</button>
  </div>
</div>
<% } %> <% if(error && error.length) { %>
<div class="flashdiv">
  <div class="flashdiv-content">
    <span><%= error %></span
    ><button type="button" class="flashbutton">&times;</button>
  </div>
</div>
<% } %>
