<div class="nav">
  <img class="nav-image" src="/images/logo.png" alt="" />

  <a class="nav-a nav-first" href="/dashboard">DASHBOARD</a>
  <a class="nav-a" href="/blog">BLOG</a>

  <a class="nav-a" href="/collection">YOUR COLLECTIONS</a>
  <a class="nav-a nav-second" href="/collection/63abd1bcf163adaa2782778f"
    >DSA 450</a
  >
  <% if(!currentuser){ %>
  <a class="nav-a nav-second" href="/login">LOGIN</a>
  <a class="nav-a nav-second" href="/register">REGISTER</a>
  <% } else{ %>
  <a class="nav-a nav-second" href="/logout"> logout </a>
  <% } %>
</div>
