<div class="nav">
  <img class="nav-image" src="images/logo.png" alt="" />

  <a class="nav-a nav-first" href="/home">Dashboard</a>
  <a class="nav-a" href="/home">Home</a>

  <a class="nav-a" href="/home">Login</a>
  <a class="nav-a nav-second" href="/home">Register</a>
</div>
