<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/boilerplate.css" />
    <link rel="icon" href="/images/PROGRAMMER(1).gif" />
  </head>
  <body>
    <%- include("../partials/navbar") %> <%- include("../partials/flash") %>
    <a href="/notepad"
      ><img
        height="50px"
        width="50px"
        src="\images\1021031_pen_icon.png"
        alt=""
    /></a>
    <%-body-%>

    <script src="/javascripts/temp.js"></script>
  </body>
</html>
