<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/boilerplate.css" />
    <link rel="icon" href="/images/PROGRAMMER(1).gif" />
  </head>
  <body>
    <%- include("../partials/navbar") %> <%- include("../partials/flash") %>
    <div class="menu-div">
      <div class="menu-div-content">
        <% if(!currentuser){ %>
        <a href="/login"><img src="\images\icons8-login-30.png" alt="" /></a>
        <a href="/register"
          ><img src="\images\icons8-register-30.png" alt=""
        /></a>

        <% }%> <% if(currentuser){ %>
        <a href="/profile"><img src="\images\icons8-user-30.png" alt="" /></a>
        <a href="/logout"><img src="\images\icons8-logout-30.png" alt="" /></a>
        <% }%>

        <a href="/notepad"><img src="\images\1021031_pen_icon.png" alt="" /></a>
      </div>
    </div>

    <%-body-%>

    <script src="/javascripts/temp.js"></script>
    <script src="/javascripts/nav.js"></script>
  </body>
</html>
