<% layout("layouts/boilerplate") %> <%- include("./partials/centerhead.ejs") %>
<div class="spacer"></div>
<a class="blog-new" href="/newblog">CREATE BLOG</a>
<% for(let ablog of allblogs){ %>
<div class="blog-post">
  <h4>Author : <%=ablog.author %></h4>
  <h2><%=ablog.title %></h2>
  <p><%=ablog.content %></p>
</div>
<%} %>
