<% layout("layouts/boilerplate") %> <%- include("./partials/centerhead.ejs") %>
<a href="/newblog">CREATE BLOG</a>
<% for(let ablog of allblogs){ %>
<div>
  <h2><%=ablog.author %></h2>
  <h1><%=ablog.title %></h1>
  <p><%=ablog.content %></p>
</div>
<%} %>
