<% layout("layouts/boilerplate") %> <%- include("./partials/centerhead.ejs") %>
<div class="cart">
  <% if(currentuser.cart.length>0){ %> <% for(let item of cartItems){ %>
  <div class="cart-items">
    <div class="cart-items-question">
      <a href="<%=item.url %>"><%= item.title %></a>
    </div>

    <form class="cart-items-button" method="post" action="/cartDelete">
      <input name="questionId" type="text" value="<%= item._id %>" hidden />
      <button type="submit">
        <img src="\images\icons8-delete-30.png" alt="" />
      </button>
    </form>
  </div>
  <% } %> <% }else{ %>
  <div class="cart-empty">Your Question Cart is Empty</div>
  <% } %>
</div>
