<% layout("layouts/boilerplate") %>
<div class="contests">
  <% for(let i = 0;i<5;i++){ %> <%var minutes =
  Math.floor(parseInt(upcoming_contest[i][1])/60) % 60;%> <%var hours =
  Math.floor(parseInt(upcoming_contest[i][1])/3600) % 24;%> <%var days =
  Math.floor(parseInt(upcoming_contest[i][1])/3600/24);%>

  <h2>
    <%=upcoming_contest[i][0]%> <%=`Time remaining : ${days} days ${hours} hours
    and ${minutes} minutes` %>
  </h2>
  <%} %>
</div>
<div class="blogs horizontal">
  <div>
    <div class="blogposts">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
      assumenda molestias sed, voluptas delectus adipisci suscipit labore
      corporis tempora nostrum aut quod odit saepe nam, dolorum quidem!
      Consectetur, odio quod.lore Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Vero deserunt facilis odio. Distinctio deserunt quaerat
      odit dolorum hic, omnis reprehenderit ratione maxime quae. Voluptas beatae
      quibusdam vel, sapiente delectus ad. Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Reiciendis numquam ea dolor adipisci
      officiis quod temporibus accusamus impedit! Voluptates autem repudiandae
      perspiciatis quos totam! Porro ipsa dignissimos minima fugiat illo.
    </div>
    <div class="blogform">
      <h2>Create a blog</h2>
      <form action="/">
        <label for="title">Enter title : </label>
        <input type="text" name="title" id="title" />
        <label for="content">Write you blog : </label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="dsa450">
    <h3>DSA 450 Tacker</h3>
  </div>
</div>
