<% layout("layouts/boilerplate") %>
<div class="profile">
  <div class="profile-name">Username : <%=currentuser.username %></div>
  <div class="profile-cart">
    No. of Questions in Cart : <%=currentuser.cart.length %>
  </div>
  <div class="profile-collections">
    No. of Collections Added : <%=currentuser.collections.length %>
  </div>
  <div class="profile-questions">
    No. of Questions Added : <%=currentuser.questions.length %>
  </div>
</div>
