<% layout("layouts/boilerplate") %>
<div><%=currentuser.username %></div>
<div><%=currentuser.cart.length %></div>
<div><%=currentuser.collections.length %></div>
<div><%=currentuser.questions.length %></div>
