.cart {
  max-width: 60%;
  margin: auto;
  @media (max-width: 768px) {
    max-width: 100%;
    margin: auto;
    font-size: 0.8em;
  }
  &-empty {
    width: 60%;
    margin: auto;
    font-size: large;
    color: $dark;
  }
  &-items {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    &-question {
      width: 80%;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid $light;
      &:hover {
        transition: 0.5;
        color: $medium;
      }
    }
    &-button {
      button {
        padding: 8px;
        border: none;
        border-radius: 5px;
        margin-right: 4px;

        &:hover {
          background-color: $light;
          transition: 0.5s;
        }
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
