$verydark: #006579;
$light: #c2d5db;
$medium: #789fbb;
$dark: #1e698d;
$verylight: #efefef;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
@mixin sideflex {
  display: flex;
  flex-direction: row;
}

@mixin transition-ease {
  transition: all 0.35s ease-in-out;
}
