.profile {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #c2d5db;
  padding: 6px;
  margin-top: 10vh;
  border-radius: 25px;
  @media (max-width: 768px) {
    width: 95%;
  }
  div {
    text-align: center;
    margin: 4vh 0;
    @media (max-width: 768px) {
      margin: 3vh 0;
    }
  }
  &-name {
    font-size: 2em;
    @media (max-width: 768px) {
      font-size: 1.7em;
    }
  }
  &-cart {
    font-size: 1.7em;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
  &-collections {
    font-size: 1.7em;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
  &-questions {
    font-size: 1.7em;
    @media (max-width: 768px) {
      font-size: 1.5em;
    }
  }
}
