.collection-table {
  text-transform: uppercase;
  border-collapse: collapse;
  border-style: hidden;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  @media (max-width: 768px) {
    width: 98%;
  }
  &-row {
  }
  &-data,
  &-head {
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px;
    border: 2px solid $light;
    @media (max-width: 768px) {
      padding: 0px;
      font-size: 10px;
    }
    a {
      @media (max-width: 768px) {
        font-size: 10px;
      }
    }
  }
  button {
    background-color: $dark;
    color: white;
    border: none;
    font-size: x-small;
    padding: 9px;
    border-radius: 5px;
    @media (max-width: 768px) {
      font-size: 7px;
      margin: 3px;
      padding: 2px;
      border-radius: 5px;
    }
    &:hover {
      @include transition-ease;
      background-color: $light;
      color: $verydark;
    }
  }
  a:hover {
    @include transition-ease;
    color: $medium;
  }
}

.select {
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: $dark;
  font-size: x-small;
  &:hover {
    @include transition-ease;
    background-color: $light;
    color: $verydark;
  }
  @media (max-width: 768px) {
    font-size: 7px;
    padding: 7px;
  }
}
.remark {
  background-color: $dark;
  color: white;
  border: none;
  text-align: center;
  width: 315px;
  height: 40px;
  font-size: x-small;
  border-radius: 5px;
  &:focus-visible {
    border: 3px solid $light;
    box-shadow: none;
    outline: none;
  }
  @media (max-width: 768px) {
    width: 135px;
    font-size: 8px;
  }
}
.newquestion {
  /* position: relative; */
  display: block;
  margin: auto;
  width: 200px;
  background-color: $verylight;
  text-align: center;
  padding: 9px;
  border-radius: 10px;
  margin-top: 3vh;

  &:hover {
    @include transition-ease;
    background-color: $light;
    color: $verydark;
  }
}
