.your {
  text-align: center;
  text-transform: uppercase;
  margin-top: 5vh;
  margin-bottom: 6vh;
  &-container {
    width: 75%;
    overflow: auto;
    white-space: nowrap;
    margin: 30px auto;
    background-color: $light;
    border-radius: 20px;
    padding: 13px 20px;
    @media (max-width: 768px) {
      white-space: normal;
    }
  }
  &-collection {
    text-transform: uppercase;
    line-height: normal;
    display: inline-block;
    background-color: white;
    width: 231px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: center;
    height: 215px;
    padding-top: 75px;
    border-radius: 15px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    color: $verydark;
    border: 2px solid $medium;
    @media (max-width: 768px) {
      text-transform: uppercase;
      line-height: normal;
      display: inline-block;
      background-color: white;
      width: 235px;
      overflow: hidden;
      white-space: normal;
      text-overflow: ellipsis;
      text-align: center;
      height: unset;
      padding-top: 0;
      border-radius: 15px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
      color: #006579;
    }
    &:hover {
      @include transition-ease;
      background-color: $light;
      border: 2px solid white;
      color: $verydark;
    }
  }
  &-button {
    background-color: $verylight;
    color: inherit;
    border: none;
    border-radius: 10px;
    padding: 25px 90px;
    font-size: 11px;
    // margin-top: 10px;
    // margin-left: auto;
    &:hover {
      @include transition-ease;
      background-color: $light;
      color: $verydark;
    }
    @media (max-width: 768px) {
      padding: 19px 31px;
    }
  }
}
