@import "config";
@import "nav";
@import "home";
@import "flash";
@import "centerhead";
@import "yourcollections";
@import "blog";
@import "table";
@import "form";
@import "menu";
@import "cart";
@import "profile";
@import "err";
body {
  background-color: white;
}
button {
  cursor: pointer;
}
select {
  cursor: pointer;
}
