* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.nav {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
}
.nav-item {
  list-style: none;
  width: 20%;
  transition: all 0.5s;
  text-align: center;
}
.nav-item a {
  display: inline-block;
  padding: 10%;
}
.nav-item a .logo {
  margin-top: 10%;
  width: 37%;
}
.nav-item .alogo {
  padding: 0;
}
.nav-item .nav-image-repeat {
  padding-top: 7%;
  padding-bottom: 7%;
}
.nav-item:hover {
  background: rgba(0, 0, 0, 0.549);
}
@media (max-width: 768px) {
  .nav-item {
    width: 100%;
    height: 20%;
  }
}
.nav-phone {
  visibility: hidden;
}
@media (max-width: 768px) {
  .nav-phone {
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .nav-pc {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: 100vh;
    transform: translateY(-100vh);
  }
}

nav {
  background: rgba(0, 0, 0, 0.103);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  nav {
    height: 50px;
  }
}
nav .bars {
  z-index: 20;
  position: absolute;
  top: 13px;
  right: 22px;
  width: 25px;
  margin: 0;
  padding: 2px;
  border-radius: 5px;
  height: 25px;
  background: rgba(0, 0, 0, 0.049);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}
@media (min-width: 768px) {
  nav .bars {
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  nav .bars {
    visibility: visible;
    opacity: 1;
  }
}

.visible {
  transform: none;
  height: 80vh;
}

.rotate {
  transform: rotate(90deg);
}

.unhide {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.contestTable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  border-spacing: 2px;
}
.contestTable th,
.contestTable td {
  padding: 12px 79px;
  background-color: white;
  border: 3px solid #c2d5db;
  text-align: center;
  font-size: small;
  color: #1e698d;
}
@media (max-width: 768px) {
  .contestTable th,
  .contestTable td {
    padding: 6px 15px;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .contestTable {
    border-collapse: collapse;
  }
}

.home-lower {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .home-lower h3 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .home-lower {
    width: 90%;
  }
}
.home-lower-dsa450, .home-lower-collection {
  margin: 0px 31px;
  width: 27%;
  display: inline-block;
  text-align: center;
  padding: 40px 0px;
  padding-bottom: 25px;
  border-radius: 27px;
  background-color: #789fbb;
  color: #789fbb;
}
@media (max-width: 768px) {
  .home-lower-dsa450, .home-lower-collection {
    margin: 0px 2px;
    width: 40%;
    padding: 15px 0px;
  }
}
.home-lower-dsa450 span, .home-lower-collection span {
  background-color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 30px;
}
.home-lower-dsa450 button, .home-lower-collection button {
  background-color: white;
  color: #1e698d;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 11px;
  margin-top: 34px;
}
.home-lower-dsa450 button:hover, .home-lower-collection button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #1e698d;
  color: white;
}
.home-lower-items {
  margin: 3px;
  color: white;
}

.h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
}
@media (max-width: 768px) {
  .h4 {
    margin-top: 10vh;
  }
}

.flashdiv {
  position: relative;
  height: 0;
  width: 0;
  top: 70vh;
  left: 41vw;
}
@media (max-width: 768px) {
  .flashdiv {
    left: 25vw;
  }
}
.flashdiv-content {
  position: absolute;
  opacity: 0;
  border-radius: 13px;
  display: flex;
  transform: translateY(10px);
  justify-content: space-between;
  background-color: white;
  color: #789fbb;
  align-items: center;
  padding: 17px;
  width: 20vw;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .flashdiv-content {
    width: 50vw;
  }
}
.flashdiv-content button {
  border: none;
  border-radius: 26px;
  background: none;
  padding-left: 4px;
  padding-right: 4px;
  /* padding: 0; */
  font-size: 25px;
  transition: 0.5s;
}
.flashdiv-content button:hover {
  cursor: pointer;
  background-color: red;
}

.opacityTransformation {
  transition: 0.5s;
  transform: none;
  opacity: 1;
}

.error {
  background-color: rgb(255, 218, 218);
  color: red;
}
.error div .flashbutton:hover {
  background-color: red;
}

.success {
  background-color: rgb(218, 255, 232);
  color: rgb(0, 255, 89);
}
.success div .flashbutton:hover {
  background-color: green;
}

.heading {
  margin: 0 auto;
  margin-top: 0px;
  border-radius: 25px;
  margin-top: 20px;
  padding: 18px;
  color: #1e698d;
  border-bottom: 2px solid;
  border-color: #c2d5db;
}
.heading-content {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 768px) {
  .heading {
    font-size: 0.6em;
    width: 80%;
    margin-top: 7vh;
  }
}

.your {
  text-align: center;
  text-transform: uppercase;
  margin-top: 5vh;
  margin-bottom: 6vh;
}
.your-container {
  width: 75%;
  overflow: auto;
  white-space: nowrap;
  margin: 30px auto;
  background-color: #c2d5db;
  border-radius: 20px;
  padding: 13px 20px;
}
@media (max-width: 768px) {
  .your-container {
    white-space: normal;
  }
}
.your-collection {
  text-transform: uppercase;
  line-height: normal;
  display: inline-block;
  background-color: white;
  width: 231px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
  height: 215px;
  padding-top: 75px;
  border-radius: 15px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: #006579;
  border: 2px solid #789fbb;
}
@media (max-width: 768px) {
  .your-collection {
    text-transform: uppercase;
    line-height: normal;
    display: inline-block;
    background-color: white;
    width: 235px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: center;
    height: unset;
    padding-top: 0;
    border-radius: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 18px;
    color: #006579;
  }
}
.your-collection:hover {
  transition: all 0.35s ease-in-out;
  background-color: #c2d5db;
  border: 2px solid white;
  color: #006579;
}
.your-button {
  background-color: #efefef;
  color: inherit;
  border: none;
  border-radius: 10px;
  padding: 25px 90px;
  font-size: 11px;
}
.your-button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #c2d5db;
  color: #006579;
}
@media (max-width: 768px) {
  .your-button {
    padding: 19px 31px;
  }
}

.blog-create {
  margin-top: 20px;
}
.blog-post:nth-of-type(1) {
  margin-top: 2px;
}
.blog-post {
  color: #789fbb;
  background-color: white;
  margin: auto;
  width: 85%;
  margin-top: 20px;
  padding: 30px;
  line-height: normal;
  border-top: 2px solid #c2d5db;
  border-bottom: 2px solid #c2d5db;
}
.blog-post h4 {
  opacity: 0.8;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}
.blog-post h2 {
  color: #1e698d;
  margin-bottom: 3px;
}
@media (max-width: 768px) {
  .blog-post {
    width: 95%;
    padding: 5px;
  }
}
.blog-post p {
  color: black;
}
.blog-new {
  display: block;
  width: 150px;
  text-align: center;
  margin: auto;
  background-color: #efefef;
  color: inherit;
  border: none;
  border-radius: 50px;
  padding: 25px 15px;
  font-size: 11px;
}
.blog-new:hover {
  transition: all 0.35s ease-in-out;
  background-color: #c2d5db;
  color: #1e698d;
}
@media (max-width: 768px) {
  .blog-new {
    padding: 20px 15px;
    font-size: 13px;
  }
}

.spacer {
  margin-top: 20px;
}

.collection-table {
  text-transform: uppercase;
  border-collapse: collapse;
  border-style: hidden;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .collection-table {
    width: 98%;
  }
}
.collection-table-data, .collection-table-head {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  border: 2px solid #c2d5db;
}
@media (max-width: 768px) {
  .collection-table-data, .collection-table-head {
    padding: 0px;
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .collection-table-data a, .collection-table-head a {
    font-size: 10px;
  }
}
.collection-table button {
  background-color: #1e698d;
  color: white;
  border: none;
  font-size: x-small;
  padding: 9px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .collection-table button {
    font-size: 7px;
    margin: 3px;
    padding: 2px;
    border-radius: 5px;
  }
}
.collection-table button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #c2d5db;
  color: #006579;
}
.collection-table a:hover {
  transition: all 0.35s ease-in-out;
  color: white;
}

.select {
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #1e698d;
  font-size: x-small;
}
.select:hover {
  transition: all 0.35s ease-in-out;
  background-color: #c2d5db;
  color: #006579;
}
@media (max-width: 768px) {
  .select {
    font-size: 7px;
    padding: 7px;
  }
}

.remark {
  background-color: #1e698d;
  color: white;
  border: none;
  text-align: center;
  width: 315px;
  height: 40px;
  font-size: x-small;
  border-radius: 5px;
}
.remark:focus-visible {
  border: 3px solid #c2d5db;
  box-shadow: none;
  outline: none;
}
@media (max-width: 768px) {
  .remark {
    width: 135px;
    font-size: 8px;
  }
}

.newquestion {
  /* position: relative; */
  display: block;
  margin: auto;
  width: 200px;
  background-color: #efefef;
  text-align: center;
  padding: 9px;
  border-radius: 10px;
  margin-top: 3vh;
}
.newquestion:hover {
  transition: all 0.35s ease-in-out;
  background-color: #c2d5db;
  color: #006579;
}

.form {
  width: 60%;
  height: 65%;
  text-align: center;
  background-color: #c2d5db;
  color: #1e698d;
  margin: auto;
  margin-top: 20px;
  border-radius: 25px;
  padding: 0px 150px;
}
@media (max-width: 768px) {
  .form {
    width: 89%;
    height: 65%;
    text-align: center;
    background-color: #c2d5db;
    color: #1e698d;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 15px;
    padding: 0px 10px;
  }
}
.form label,
.form input,
.form textarea,
.form select {
  display: block;
  text-align: left;
  width: 100%;
}
.form input {
  background-color: rgb(255, 255, 255);
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #006579;
}
.form input:focus-visible {
  border: 3px solid #789fbb;
  box-shadow: none;
  outline: none;
}
.form button {
  background-color: white;
  color: #006579;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
}
.form button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #789fbb;
  color: white;
}
.form select {
  padding: 12px 0px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: x-small;
  background-color: white;
}
.form select:hover {
  transition: all 0.35s ease-in-out;
  background-color: #1e698d;
  color: white;
}
.form textarea {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #006579;
}
.form textarea:focus-visible {
  border: 3px solid #789fbb;
  box-shadow: none;
  outline: none;
}

.collectionform label {
  padding-top: 20px;
}
.collectionform input {
  margin-top: 10px;
  margin-bottom: 20px;
}
.collectionform button {
  margin-top: 20px;
}

.questionform label {
  padding-top: 10px;
}
.questionform input {
  margin-top: 7px;
  margin-bottom: 13px;
}
.questionform select {
  margin-top: 10px;
  margin-bottom: 13px;
}
.questionform button {
  margin-top: 9px;
}

.blogform label {
  padding-top: 10px;
}
.blogform input,
.blogform textarea {
  margin-top: 7px;
  margin-bottom: 13px;
}
.blogform select {
  margin-top: 10px;
  margin-bottom: 13px;
}
.blogform button {
  margin-top: 9px;
}

.loginform label,
.registerform label {
  padding-top: 20px;
}
.loginform input,
.registerform input {
  margin-top: 10px;
  margin-bottom: 20px;
}
.loginform button,
.registerform button {
  margin-top: 20px;
}

.menu-div {
  position: relative;
  height: 0;
  width: 0;
}
.menu-div-content {
  background-color: #c2d5db;
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 15px;
  padding-left: 7px;
  border-radius: 19px;
}
@media (max-width: 768px) {
  .menu-div-content {
    display: flex;
    left: 37vw;
    padding: 2px;
    top: 0px;
  }
}
.menu-div-content a {
  margin: 5px;
  display: inline-block;
  padding: 2px;
  border-radius: 15px;
}
.menu-div-content a:hover {
  transition: 0.5s;
  background-color: white;
}
.menu-div-content a img {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .menu-div-content a img {
    width: 20px;
    height: 20px;
  }
}

.cart {
  max-width: 60%;
  margin: auto;
}
@media (max-width: 768px) {
  .cart {
    max-width: 100%;
    margin: auto;
    font-size: 0.8em;
  }
}
.cart-items {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.cart-items-question {
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #c2d5db;
}
.cart-items-question:hover {
  transition: 0.5;
  color: #789fbb;
}
.cart-items-button button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-right: 4px;
}
.cart-items-button button:hover {
  background-color: #c2d5db;
  transition: 0.5s;
}
.cart-items-button img {
  height: 20px;
  width: 20px;
}

.profile {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #c2d5db;
  padding: 6px;
  margin-top: 10vh;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .profile {
    width: 95%;
  }
}
.profile div {
  text-align: center;
  margin: 4vh 0;
}
@media (max-width: 768px) {
  .profile div {
    margin: 3vh 0;
  }
}
.profile-name {
  font-size: 2em;
}
@media (max-width: 768px) {
  .profile-name {
    font-size: 1.7em;
  }
}
.profile-cart {
  font-size: 1.7em;
}
@media (max-width: 768px) {
  .profile-cart {
    font-size: 1.5em;
  }
}
.profile-collections {
  font-size: 1.7em;
}
@media (max-width: 768px) {
  .profile-collections {
    font-size: 1.5em;
  }
}
.profile-questions {
  font-size: 1.7em;
}
@media (max-width: 768px) {
  .profile-questions {
    font-size: 1.5em;
  }
}

body {
  background-color: white;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}/*# sourceMappingURL=boilerplate.css.map */