@import "config";
@import "nav";
@import "home";
@import "flash";
@import "centerhead";
@import "yourcollections";
@import "blog";
@import "table";
@import "form";
@import "menu";
body {
  background-color: $dark;
}
button {
  cursor: pointer;
}
select {
  cursor: pointer;
}
