* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.nav {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 60px;
  font-size: large;
  background-color: rgb(193, 166, 141);
}
.nav a {
  display: block;
  padding: 22px 16px;
}
.nav a:hover {
  transition: all 0.35s ease-in-out;
  background-color: rgb(116, 94, 77);
  color: white;
}
.nav:hover div {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.nav img {
  height: 50%;
  margin: auto;
}
.nav div {
  position: absolute;
  font-size: 12px;
  transition: 0.3s;
  transform: translateY(1em);
}
.nav .eat {
  visibility: hidden;
  opacity: 0;
  left: 96px;
  top: 25px;
}
.nav .sleep {
  opacity: 0;
  visibility: hidden;
  left: 238px;
  top: 24px;
}
.nav .code {
  opacity: 0;
  visibility: hidden;
  left: 393px;
  top: 24.5px;
}
.nav .repeat {
  opacity: 0;
  visibility: hidden;
  left: 543px;
  top: 24px;
}
.nav ul {
  display: flex;
  flex-direction: row;
}
.nav-item {
  background-color: white;
  color: rgb(116, 94, 77);
}
.nav-item.login, .nav-item.register {
  border-radius: 70px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.nav-item.login a, .nav-item.register a {
  border-radius: inherit;
  padding: 10px 16px;
}
.nav-item.login {
  margin-right: 0px;
  margin-left: 1.5rem;
}
.nav-item.logout > a {
  padding-left: 3rem;
  padding-right: 3rem;
}
.nav-item.active {
  background-color: rgb(116, 94, 77);
  color: white;
}

.contestTable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  border-spacing: 2px;
}
.contestTable th,
.contestTable td {
  padding: 12px 79px;
  background-color: white;
  border: 3px solid rgb(193, 166, 141);
  text-align: center;
  font-size: small;
  color: rgb(116, 94, 77);
}

.home-lower {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 24px;
}
.home-lower-dsa450, .home-lower-collection {
  margin: 0px 31px;
  width: 27%;
  display: inline-block;
  text-align: center;
  padding: 40px 0px;
  padding-bottom: 25px;
  border-radius: 27px;
  background-color: rgb(217, 175, 147);
  color: rgb(116, 94, 77);
}
.home-lower-dsa450 span, .home-lower-collection span {
  background-color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 30px;
}
.home-lower-dsa450 button, .home-lower-collection button {
  background-color: white;
  color: inherit;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 11px;
  margin-top: 34px;
}
.home-lower-dsa450 button:hover, .home-lower-collection button:hover {
  transition: all 0.35s ease-in-out;
  background-color: rgb(116, 94, 77);
  color: white;
}
.home-lower-items {
  margin: 5px;
}

.flashdiv {
  position: relative;
  height: 0;
  width: 0;
}
.flashdiv-content {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  background-color: white;
  color: rgb(116, 94, 77);
  flex-direction: column;
  align-items: center;
  padding: 17px;
  border-radius: 25px;
}
.flashdiv-content button {
  background-color: #745e4d;
  color: white;
  border: none;
  border-radius: 26px;
  padding: 7px;
  font-size: 12px;
  margin-top: 12px;
}

.heading {
  width: 50%;
  margin: 0 auto;
  margin-top: 0px;
  background-color: white;
  border-radius: 25px;
  margin-top: 20px;
  padding: 18px;
  color: rgb(116, 94, 77);
}
.heading-content {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.your {
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
}
.your-container {
  width: 75%;
  overflow: auto;
  white-space: nowrap;
  margin: 30px auto;
  background-color: #452727;
  border-radius: 20px;
  padding: 13px 20px;
}
.your-collection {
  text-transform: uppercase;
  line-height: normal;
  display: inline-block;
  background-color: white;
  width: 231px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
  height: 215px;
  padding-top: 75px;
  border-radius: 15px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: #452727;
  border: 5px solid rgb(116, 94, 77);
}
.your-collection:hover {
  transition: all 0.35s ease-in-out;
  background-color: rgb(116, 94, 77);
  border: 5px solid white;
  color: white;
}
.your-button {
  background-color: white;
  color: inherit;
  border: none;
  border-radius: 10px;
  padding: 25px 90px;
  font-size: 11px;
}
.your-button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #452727;
  color: white;
}

.blog-post:nth-of-type(1) {
  margin-top: 2px;
}
.blog-post {
  color: rgb(116, 94, 77);
  background-color: white;
  margin: auto;
  width: 85%;
  margin-top: 4px;
  padding: 30px;
  line-height: normal;
}
.blog-post h4 {
  opacity: 0.8;
  margin-bottom: 10px;
}
.blog-post h2 {
  color: rgb(74, 60, 49);
  margin-bottom: 3px;
}
.blog-new {
  position: absolute;
  right: 95px;
  top: 87px;
  background-color: white;
  color: inherit;
  border: none;
  border-radius: 50px;
  padding: 25px 15px;
  font-size: 11px;
}
.blog-new:hover {
  transition: all 0.35s ease-in-out;
  background-color: #452727;
  color: white;
}

.spacer {
  margin-top: 20px;
}

body {
  background-color: rgb(116, 94, 77);
}/*# sourceMappingURL=boilerplate.css.map */