* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.nav {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.103);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
}
.nav-item {
  list-style: none;
  width: 20%;
  transition: all 0.5s;
  text-align: center;
}
.nav-item a {
  display: inline-block;
  padding: 10%;
}
.nav-item a .logo {
  margin-top: 10%;
  width: 37%;
}
.nav-item .alogo {
  padding: 0;
}
.nav-item .nav-image-repeat {
  padding-top: 7%;
  padding-bottom: 7%;
}
.nav-item:hover {
  background: rgba(0, 0, 0, 0.549);
}
@media (max-width: 768px) {
  .nav-item {
    width: 100%;
    height: 20%;
  }
}
.nav-phone {
  visibility: hidden;
}
@media (max-width: 768px) {
  .nav-phone {
    visibility: visible;
  }
}
@media (max-width: 768px) {
  .nav-pc {
    visibility: hidden;
  }
}
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: 100vh;
    transform: translateY(-100vh);
  }
}

nav {
  background: rgba(0, 0, 0, 0.103);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  nav {
    height: 50px;
  }
}
nav .bars {
  z-index: 20;
  position: absolute;
  top: 13px;
  right: 22px;
  width: 25px;
  margin: 0;
  padding: 2px;
  border-radius: 5px;
  height: 25px;
  background: rgba(0, 0, 0, 0.049);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}
@media (min-width: 768px) {
  nav .bars {
    visibility: hidden;
    opacity: 0;
  }
}
@media (max-width: 768px) {
  nav .bars {
    visibility: visible;
    opacity: 1;
  }
}

.visible {
  transform: none;
  height: 80vh;
}

.rotate {
  transform: rotate(90deg);
}

.unhide {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

.contestTable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30px;
  border-spacing: 2px;
}
.contestTable th,
.contestTable td {
  padding: 12px 79px;
  background-color: white;
  border: 3px solid rgb(122, 207, 209);
  text-align: center;
  font-size: small;
  color: #30bbd7;
}

.home-lower {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 24px;
}
.home-lower-dsa450, .home-lower-collection {
  margin: 0px 31px;
  width: 27%;
  display: inline-block;
  text-align: center;
  padding: 40px 0px;
  padding-bottom: 25px;
  border-radius: 27px;
  background-color: #30bbd7;
  color: #30bbd7;
}
.home-lower-dsa450 span, .home-lower-collection span {
  background-color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 30px;
}
.home-lower-dsa450 button, .home-lower-collection button {
  background-color: white;
  color: inherit;
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 11px;
  margin-top: 34px;
}
.home-lower-dsa450 button:hover, .home-lower-collection button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #30bbd7;
  color: white;
}
.home-lower-items {
  margin: 5px;
}

h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
}

.flashdiv {
  position: relative;
  height: 0;
  width: 0;
  top: 70vh;
  left: 41vw;
}
@media (max-width: 768px) {
  .flashdiv {
    left: 25vw;
  }
}
.flashdiv-content {
  position: absolute;
  opacity: 0;
  border-radius: 13px;
  display: flex;
  transform: translateY(10px);
  justify-content: space-between;
  background-color: white;
  color: #30bbd7;
  align-items: center;
  padding: 17px;
  width: 20vw;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .flashdiv-content {
    width: 50vw;
  }
}
.flashdiv-content button {
  border: none;
  border-radius: 26px;
  background: none;
  padding-left: 4px;
  padding-right: 4px;
  /* padding: 0; */
  font-size: 25px;
  transition: 0.5s;
}
.flashdiv-content button:hover {
  cursor: pointer;
  background-color: red;
}

.opacityTransformation {
  transition: 0.5s;
  transform: none;
  opacity: 1;
}

.error {
  background-color: rgb(255, 218, 218);
  color: red;
}
.error div .flashbutton:hover {
  background-color: red;
}

.success {
  background-color: rgb(218, 255, 232);
  color: rgb(0, 255, 89);
}
.success div .flashbutton:hover {
  background-color: green;
}

.heading {
  width: 50%;
  margin: 0 auto;
  margin-top: 0px;
  background-color: white;
  border-radius: 25px;
  margin-top: 20px;
  padding: 18px;
  color: #30bbd7;
}
.heading-content {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.your {
  text-align: center;
  text-transform: uppercase;
  margin-top: 60px;
}
.your-container {
  width: 75%;
  overflow: auto;
  white-space: nowrap;
  margin: 30px auto;
  background-color: #006579;
  border-radius: 20px;
  padding: 13px 20px;
}
.your-collection {
  text-transform: uppercase;
  line-height: normal;
  display: inline-block;
  background-color: white;
  width: 231px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  text-align: center;
  height: 215px;
  padding-top: 75px;
  border-radius: 15px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  color: #006579;
  border: 5px solid white;
}
.your-collection:hover {
  transition: all 0.35s ease-in-out;
  background-color: white;
  border: 5px solid white;
  color: white;
}
.your-button {
  background-color: white;
  color: inherit;
  border: none;
  border-radius: 10px;
  padding: 25px 90px;
  font-size: 11px;
}
.your-button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #006579;
  color: white;
}

.blog-post:nth-of-type(1) {
  margin-top: 2px;
}
.blog-post {
  color: #30bbd7;
  background-color: white;
  margin: auto;
  width: 85%;
  margin-top: 4px;
  padding: 30px;
  line-height: normal;
}
.blog-post h4 {
  opacity: 0.8;
  margin-bottom: 10px;
}
.blog-post h2 {
  color: rgb(74, 60, 49);
  margin-bottom: 3px;
}
.blog-new {
  position: absolute;
  right: 95px;
  top: 87px;
  background-color: white;
  color: inherit;
  border: none;
  border-radius: 50px;
  padding: 25px 15px;
  font-size: 11px;
}
.blog-new:hover {
  transition: all 0.35s ease-in-out;
  background-color: #006579;
  color: white;
}

.spacer {
  margin-top: 20px;
}

.collection-table {
  text-transform: uppercase;
  border-collapse: collapse;
  border-style: hidden;
  width: 90%;
  margin: auto;
  margin-top: 30px;
}
.collection-table-data, .collection-table-head {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px;
  background-color: #30bbd7;
  border: 2px solid white;
}
.collection-table button {
  background-color: #006579;
  color: white;
  border: none;
  font-size: x-small;
  padding: 9px;
  border-radius: 5px;
}
.collection-table button:hover {
  transition: all 0.35s ease-in-out;
  background-color: white;
  color: #006579;
}
.collection-table a:hover {
  transition: all 0.35s ease-in-out;
  color: white;
}

.select {
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #006579;
  font-size: x-small;
}
.select:hover {
  transition: all 0.35s ease-in-out;
  background-color: white;
  color: #006579;
}

.remark {
  background-color: #006579;
  color: white;
  border: none;
  text-align: center;
  width: 315px;
  height: 40px;
  font-size: x-small;
  border-radius: 5px;
}
.remark:focus-visible {
  border: 3px solid white;
  box-shadow: none;
  outline: none;
}

.newquestion {
  position: absolute;
  top: 88px;
  right: 81px;
  width: 123px;
  background-color: white;
  text-align: center;
  padding: 9px;
  border-radius: 10px;
}
.newquestion:hover {
  transition: all 0.35s ease-in-out;
  background-color: #006579;
  color: white;
}

.form {
  width: 60%;
  height: 65%;
  text-align: center;
  background-color: rgb(122, 207, 209);
  color: #006579;
  margin: auto;
  margin-top: 20px;
  border-radius: 25px;
  padding: 0px 150px;
}
.form label,
.form input,
.form textarea,
.form select {
  display: block;
  text-align: left;
  width: 100%;
}
.form input {
  background-color: rgb(255, 255, 255);
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #006579;
}
.form input:focus-visible {
  border: 3px solid #30bbd7;
  box-shadow: none;
  outline: none;
}
.form button {
  background-color: white;
  color: #006579;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
}
.form button:hover {
  transition: all 0.35s ease-in-out;
  background-color: #30bbd7;
  color: white;
}
.form select {
  padding: 12px 0px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: x-small;
  background-color: white;
}
.form select:hover {
  transition: all 0.35s ease-in-out;
  background-color: #006579;
  color: white;
}
.form textarea {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #006579;
}
.form textarea:focus-visible {
  border: 3px solid #30bbd7;
  box-shadow: none;
  outline: none;
}

.collectionform label {
  padding-top: 20px;
}
.collectionform input {
  margin-top: 10px;
  margin-bottom: 20px;
}
.collectionform button {
  margin-top: 20px;
}

.questionform label {
  padding-top: 10px;
}
.questionform input {
  margin-top: 7px;
  margin-bottom: 13px;
}
.questionform select {
  margin-top: 10px;
  margin-bottom: 13px;
}
.questionform button {
  margin-top: 9px;
}

.blogform label {
  padding-top: 10px;
}
.blogform input,
.blogform textarea {
  margin-top: 7px;
  margin-bottom: 13px;
}
.blogform select {
  margin-top: 10px;
  margin-bottom: 13px;
}
.blogform button {
  margin-top: 9px;
}

.loginform label,
.registerform label {
  padding-top: 20px;
}
.loginform input,
.registerform input {
  margin-top: 10px;
  margin-bottom: 20px;
}
.loginform button,
.registerform button {
  margin-top: 20px;
}

.menu-div {
  position: relative;
  height: 0;
  width: 0;
}
.menu-div-content {
  background-color: rgb(122, 207, 209);
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 15px;
  padding-left: 7px;
  border-radius: 19px;
}
@media (max-width: 768px) {
  .menu-div-content {
    display: flex;
    left: 37vw;
    padding: 2px;
    top: 0px;
  }
}
.menu-div-content a {
  margin: 5px;
  display: inline-block;
  padding: 2px;
  border-radius: 15px;
}
.menu-div-content a:hover {
  transition: 0.5s;
  background-color: white;
}
.menu-div-content a img {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .menu-div-content a img {
    width: 20px;
    height: 20px;
  }
}

body {
  background-color: white;
}/*# sourceMappingURL=boilerplate.css.map */