.dsa450{
    background-color: rgb(200, 255, 200);
    border: 2px solid black;
    border-radius: 7px;
    width: 30%;
    margin-left: 60rem;
}
.horizontal{
    display: flex;
    flex-direction: row;
}