<% layout("layouts/boilerplate") %> <%- include("../partials/centerhead.ejs") %>
<form action="/blog" method="post">
  <label for="title">BLOG TITLE : </label>
  <input type="text" name="blog[title]" id="title" />
  <br />
  <label for="content">WRITE YOUR BLOG HERE : </label>
  <textarea name="blog[content]" id="content" cols="30" rows="10"></textarea>
  <button type="submit">CREATE</button>
</form>
