<% layout("layouts/boilerplate") %> <%- include("../partials/centerhead.ejs") %>
<form action="/register" method="post">
  <label for="username">USERNAME : </label>
  <input type="text" name="username" id="username" />
  <br />
  <label for="password">PASSWORD : </label>
  <input type="password" name="password" id="password" />
  <br />
  <button type="submit">REGISTER</button>
</form>
